<div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title"><%= @list.name %></span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="form-group">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="LISTNAME">
            <table class="table">
              <tbody>
              <% @list.items.each do |item| %>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <%= form_for([@list, item]) do |f| %>
                          <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>
                        <% end %>
                      </label>
                    </div>
                  </td>
                  <td>
                    <%= item.description %>
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
