<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">Pet Widget Settings</h3>
          </div>
          <div class="row">
          <div class="col-md-6">
          <%= render 'form' %>
          </div>
          <div class="col-md-6">

            <div class="card-body">
              <h3>Here are a few example uses:</h3>
              <div class="row">
              <div class="col-md-12">

                <%= image_tag("pet_sample_1.png") %>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= image_tag("pet_sample_2.png") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>