<div class="content">
  <div class="container-fluid">
    <a href="javascript:history.back()">< Return to Dashboard</a>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">Pet Widget Settings</h3>
          </div>
          <div class="row">
          <div class="col-md-6">
          <%= render 'form' %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <br>
              <div class="card-header card-header-warning">
                <h3 class="card-title">Tips for using the Pet Widget</h3>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                    <h4>Use the trackers to track any time-sensitive needs for your furry companion(s).</h4>
                      <ul>
                        <li>Busy house? Add a a feeding tracker so anyone in the family can see when the pets were fed last.</li>
                        <li>Did you walk the dog, or did you forget? Add a walk tracker so you won't have to guess!</li>
                        <li>Track when you gave your pets their medication last with the push of a button.</li>
                      </ul>
                    </div>
                    <div class="col-lg-5 col-md-11 col-sm-11">
                      <br>
                      <p>Example 1</p>
                <%= image_tag("pet_sample_1.png") %>
              </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                <div class="col-lg-5 col-md-11 col-sm-11">
                  <br>
                  <p>Example 2</p>
                  <%= image_tag("pet_sample_3.png") %>
                </div>
              <br>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>