
  <div class="card card-stats">
    <div class="card-header card-header-info card-header-icon">
      <div class="card-icon">
        <i class="material-icons">calendar_today</i>
      </div>
      <h4 class="card-title">Calendar</h4>
      <br><br>
      <div class="col-md-12">
        <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%234285F4&amp;ctz=America%2FLos_Angeles&amp;src=Y3BlOWQzdm9qdmVqNjg3ZXVrNzk3aTJiNGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showTz=0&amp;showCalendars=0&amp;showPrint=0&amp;mode=MONTH&amp;showNav=1&amp;showTitle=0" style="border-width:0" frameborder="0" scrolling="no"></iframe>
      </div>

    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">update</i> Just Updated
      </div>
      <div class="stats">
        <i class="material-icons">add</i>
        <a href="#" onclick="popupCenter({url: 'https://calendar.google.com/calendar?cid=Y3BlOWQzdm9qdmVqNjg3ZXVrNzk3aTJiNGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ', title: 'Calendar', w: 900, h: 900});"> New Event</a>
      </div>
    </div>
  </div>

