<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title ">Existing Homes</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Widgets</th>
              <th>Guests</th>
            </thead>
            <tbody>
            <% @user.homes.each do |home| %>
              <tr>
                <td><%= link_to home.id, edit_user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td><%= link_to home.name, edit_user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td><%= link_to home.address, edit_user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td><%= link_to home.city, edit_user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td>Placeholder</td>
                <td>Placeholder</td>
              </tr>
              <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>