<div class="col-lg-6 col-md-12 col-sm-12">
  <div class="card card-stats">
    <div class="card-header card-header-info card-header-icon">
      <div class="card-icon">
        <i class="material-icons">network_check</i>
      </div>
      <h4 class="card-title">Network Status</h4>
    </div>
    <%= calendar number_of_days: 1 do |date| %>
      <%= date %>
    <% end %>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">update</i> Just Updated
      </div>
    </div>
  </div>
</div>
