<div class="content">
  <div class="container-fluid">
    <% if @user.homes.count == 0 %>
      <h3><%= 'Welcome to HomeBoard!' %></h3>
      <p><%= 'Get starting by creating your first home. Once you create a home, you will have access to a custom dashboard for your house.' %></p>
    <%end %>

      <%= render 'existing_homes' %>
      </div>
</div>